<%- include("../partials/header") %>
    <h2>Edit</h2>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
        <input type="text" placeholder="Enter title" value="<%=listing.title%>" name="title">
        <br>
        <textarea rows="7" cols="30" placeholder="Enter description" name="description"><%=listing.description%></textarea>
        <br>
         <input type="text" placeholder="Enter your image url" value="<%=listing.image%>" name="image">
         <br>
          <input type="number" placeholder="Offer your price" value="<%=listing.price  %>" name="price">
          <br>
           <input type="text" placeholder="What is your location?" value="<%= listing.location %>" name="location">
           <br>
            <input type="text" placeholder="Country" value="<%= listing.country %>" name="country">
            <br>
            <button>Confirm</button>
    
<%- include("../partials/footer") %>